src/main/mule/testmaven.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0310b13a-5818-4aff-856a-2e9e6150699a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testmavenFlow" doc:id="dec2525b-85c3-4bd7-b21d-53f3af1e2991" >
		<http:listener doc:name="Listener" doc:id="777166ac-3f58-424f-8e54-297809cdf68d" config-ref="HTTP_Listener_config" path="/mv"/>
		<logger level="INFO" doc:name="Logger" doc:id="f0110d0e-2fc6-4547-b495-ab52c24d9447" />
		<set-payload value="#['data deployed']" doc:name="Set Payload" doc:id="38a4f959-59ea-4beb-9cd6-ce0f091d98f2" />
	</flow>
</mule>
